@import url('https://fonts.googleapis.com/css2?family=Alata&family=Bebas+Neue&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
body{
    padding: 0;
    margin: 0;
    background-color: black;
    font-family: "Raleway", serif;
    margin-left: 40px;
    color: #fff;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-top: 20px; */
}
header{
    width: 40%;
}
.logo img {
    height: 40px; 
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    margin: 0;
    background-color: #fff;
}
.nav-links li a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    transition: all 0.4s ease-in-out;
}
.nav-links li a:hover {
    color: #ffffff;
    background-color: black;
    /* padding-top: 10px;
    padding-bottom: 10px; */
    padding: 10px;
    border-radius: 18px;
}
.hero{
    display: flex;
    flex-direction: column;
}
h1{
    font-family: "Bebas Neue", serif;
    font-size: 190px;
    color: #ffffff;
    font-weight: normal;
    margin-bottom: 0;
}
.hero-buttons{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.register-btn{
    background-color: #5D73F0;
    color: #ffffff;
    padding: 15px 30px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
}
.register-btn:hover{
    background-color: #ffffff;
    color: #000000;
}
.view-more-btn{
    background-color: #ffffff;
    color: #000000;
    padding: 15px 30px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
}
.view-more-btn:hover{
    background-color: #5D73F0;
    color: #000000;
}
.main-page {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-right: 40px;
}
.main1 {
    flex-grow: 1;
}
.view-schedule{
    background-color: #ffffff;
    color: #000000;
    padding: 15px 30px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
}
