@import url('https://fonts.googleapis.com/css2?family=Alata&family=Bebas+Neue&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
body{
    padding: 0;
    margin: 0;
    background-color: black;
    font-family: "Raleway", serif;
    margin-left: 40px;
    color: #fff;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header{
    width: 40%;
}
.logo img {
    height: 60px; 
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    margin: 0;
    background-color: #fff;
}
.nav-links li a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    transition: all 0.4s ease-in-out;
}
.nav-links li a:hover {
    color: #ffffff;
    background-color: black;
    padding: 10px;
    border-radius: 18px;
}
.hero{
    margin-top: -50px;
    display: flex;
    flex-direction: column;
}
h1{
    font-family: "Bebas Neue", serif;
    font-size: 190px;
    color: #ffffff;
    font-weight: normal;
    margin-bottom: 0;
}
.hero-buttons{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.register-btn{
    background-color: #5D73F0;
    color: #ffffff;
    padding: 15px 30px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
}
.register-btn:hover{
    background-color: #ffffff;
    color: #000000;
}
.view-more-btn{
    background-color: #ffffff;
    color: #000000;
    padding: 15px 30px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
}
.view-more-btn:hover{
    background-color: #5D73F0;
    color: #ffffff;
}
.main-page {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-right: 40px;
}
.main1 {
    flex-grow: 1;
}
.top-widget{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;
}
.top-widget a{
    font-weight:bold ;
    text-decoration: none;
    background-color: #ffffff;
    color: #000000;
    padding: 15px 30px;
    border-radius: 20px;
    font-size: 16px;
    transition: all 0.4s ease-in-out;
    width: 150px;
}
.top-widget a:hover{
    background-color: #5D73F0;
    color: #ffffff;
}
.top-widget img{
    width: 500px;
}
.widgets2{
    margin-top: 20px;
    display: flex;
    gap: 20px;
}
.countdown-widget{
    background-color: #5D73F0;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
    height: 220px;
    border-radius: 25px;
    justify-content: center;
}
.countdown-widget p{
    font-size: 25px;
    font-weight: bold;
}
.third-widget {
    background-color: #CBEEFF;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 220px;
    border-radius: 25px;
    position: relative;
    font-size: 25px;
    font-weight: bold;
}

.third-widget img {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 32px; 
    height: 32px;
    background-color: white;
    border-radius: 15px;
    padding: 5px;
}
.about{
    animation: appear 5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
    display: flex;
    gap: 40px;
    margin-top: 40px;
    align-items: center;
}
.stats{
    margin-top: 5%;
    display: flex;
    gap: 100px;
    margin-left: 30%;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    color: #5D73F0;
}


.schedule{
    animation: appear 5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between;
    margin-right: 60px;
}
.arrows{
    gap: 30px;
    display: flex;
    align-items: flex-end;
}
.slider{
    display: flex;
    gap: 100px;
    animation: appear 5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
    margin-bottom: 10%;

}
.slide{
    display: flex;
    flex-direction: column;
    background-color: #5D73F0;
    border-radius: 25px;
    width: 400px;
    height: 260px;
    padding-left: 20px;
    padding-right: 20px;
}
.slide p{
    font-size: 20px;
}
.slide div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.slide div p{
    font-size: 30px;
    font-family: "Bebas Neue", serif;
}
.slide div a{
    text-decoration: none;
    color: #000000;
    background-color: #ffffff;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    font-size: 16px;
    transition: all 0.4s ease-in-out;
    margin-bottom: 10px;
}
@keyframes appear {
    from {
        opacity: 0;
        scale: 0.4;
    }
    to{
        opacity: 1;
        scale: 1;
    }
    
}